<mat-card class="user-detail-header" *ngIf="userDetail">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="openEditUserDialog()">Edit</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <img src="./assets/img/person_m.png" alt="">
    <div class="user-detail">
        <h2>{{userDetail.firstName}} {{userDetail.lastName}}</h2>
        {{userDetail.eMail}}
    </div>
</mat-card>

<mat-card class="mt-32" *ngIf="userDetail">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="openEditAddressDialog()">Edit</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        {{userDetail.street}} <br>
        {{userDetail.zipCode}} {{userDetail.city}}
    </mat-card-content>
</mat-card>

<mat-spinner *ngIf="isLoading"></mat-spinner>