.add-user-btn {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: solid 1px rgb(123,31,162);
        cursor: pointer;

        &:first-child {
            cursor: unset;
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: rgb(60, 60, 60);

            &:first-child {
                background-color: unset;
            }
        }

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            text-align: start;
    
            &:first-child {
                padding-left: 16px;
            }
        }

    }
}

